body{
 background-color: blue;

}
.boshi{
    color: brown;
}
.kok{
    background-color: #ffea00;
}
.qora{
    background-color: black;
}
.aloqa{
    background-color:  rgba(69, 246, 15, 0.925);
}
.chiziq{
    background-color: blue;


}