* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif !important;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1920px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: hidden;
}

button {
    border: none;
}

/* navbar */
nav {
    width: 1918px;
    height: 140px;
    /* border: 2px solid red; */
    display: flex;
    position: absolute;
    background-color: white;

}

.logo {
    margin: 55px 252px 55px 156px;
}

.link {
    margin: 57px 79px 57px 0;
    /* border: 2px solid red; */
    /* display: flex; */

}

.link>a {
    width: 94px;
    height: 26px;
    color: rgb(161, 139, 127);
    font-family: Proxima Nova;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 89px;
}
/* button */

nav>button {
    width: 337px;
    height: 50px;
    border: 1px solid rgb(161, 139, 127);
    border-radius: 8px;
    display: flex;
    margin: 45px 65px 45px 0;
}
nav>button>input {
    font-size: 25px;

    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 8px 0 0 8px;

}
nav>button>a>img{
    width: 18.85px;
height: 18.85px;
margin: 12px 10px;
/* background: white; */
/* background: rgb(161, 139, 127); */
}

.icons {
    margin: 45px 0;
}

.icons>a {
    margin-right: 65px;
}
/* registratsiya */

.registratsiya{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
background: rgb(232, 229, 229);
}

/*registratsiya  */
.registratsiya{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
background: rgb(232, 229, 229);

}  
/*  */

.kirish_u{
    Width:800px;
Height:576px;
border-radius: 16px;

box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.1);
background: rgb(255, 255, 255);
}
.avatar{
    width: 65px;
height: 65px;
display: flex;
justify-content: center;
align-items: center;
background: rgb(161, 139, 127);
border-radius: 50%;
margin: 30px 378px 45px 357px;
}
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
    margin-bottom: 26px;
}
.button>button{
    width: 293px;
height: 60px;
    /* box-sizing: border-box; */
border: 2px solid rgb(190, 190, 190);
border-radius: 8px;
display: flex;

}
.button>button>img{
    /* margin: 14px; */
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button>button>input{
    /* position: relative; */
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
border-radius: 0  8px 8px 0;
font-size: 25px;

}
.button>button:nth-child(5)>input{
    border-radius: 0;
}

.button>button>input::placeholder{
    text-align: center;
    font-size: 15px;
}
.button>button:nth-child(5){
    width: 605px;
height: 60px;
}
.button>button:nth-child(6)>input{
    border-radius: 8px;
}
.button>button:nth-child(7)>input{
    border-radius: 8px;
}

.button>button:nth-child(8){
    margin-left: 50px;
}

.button>button:nth-child(8){
    width: 143px;
height: 46px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
border-radius: 8px;
border: none;
background: rgb(220, 187, 69);
margin-top: 44px;
}
.button>button:nth-child(8)>a{
    color: rgb(0, 0, 0);
font-family: Proxima Nova;
font-size: 21px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
